/*-----------------------------------
 common style 
 ------------------------------------*/
 *{
     margin: 0;
     padding: 0;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 /*-------------------------------------
  topcontent style
  --------------------------------------- */
.top-content{
    display: flex;
    align-items: center;
}
.content-item{
    width: 50%;
    margin-left: 90px;
}
.img-modify{
    border-radius: 50%;
    box-shadow: 5px 5px 20px ;
    padding: 20px;
}
h1{
    font-weight: 700;
    font-size: 52px;
}
a{
    text-decoration: none;
    color: #ffffff;
    background-color: #E02C6D;
    padding: 10px 24px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 25px;
}
.content-item i{
    color: #ffffff;
}
 /*-------------------------------------
  Popular-Collection style
  --------------------------------------- */
.Popular-Collection{
    width: 1100px;
    margin-left: 110px;
}
.Popular-Collection>h2{
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
}
.producks-content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.produck{
    width: 300px;
    height: 405px;
    box-shadow:0px 0px 10px;
    padding:20px;
    border-radius: 5px;
}
.produck img{
    width: 300px;
    height: 256px;
}
.produck p{
    color:#5E6366;
    font-weight: 700;
}
.stra i{
    color: #FB8200;
}
